
header, section{
    height: 50px;
    color: rgb(52,58,64);
}
.container{
    margin-left: 1180px;
    height: 50px;
    color: rgb(52,58,64);
}
.btn-outline-danger{
    /*margin-left: 1180px;*/
    margin-top: 5px;
    background-color: rgb(52,58,64);
    border-color: rgb(52, 58, 64);
}